<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/help-me</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.connection.autocommit">false</property>

        <mapping class="io.github.dggodoi.aprendendo.java.backend.data.Chamado"/>
        <mapping class="io.github.dggodoi.aprendendo.java.backend.data.Usuario"/>
    </session-factory>
</hibernate-configuration>
